extends layout

block content
  h1 Log In
  form(name='singUpForm' id='singUpForm' action='/users/logIn' method='post')
    p Email
      input(type='text' name='email' id='email')
    p Password
      input(type='text' name='password' id='password')
    button(type='Submit' class='submitButton') Submit
  if errors
    for error in errors
      p= error
 