extends layout

block content
  h1 New Appointment
  form(name='singUpForm' id='singUpForm' action='/users' method='post')
    p Street
      input(type='text' name='street' id='street')    
    p Street
      input(type='text' name='city' id='city')    
    p Street
      input(type='text' name='state' id='state')    
    p Street
      input(type='text' name='zip' id='zip')    
